<h1>Enter your purchase here</h1>

<form action="/checkout" method="post">
  <label for="item"></label>
  Purchase Item: <input id="item" type="text" name="item">

  <button id="submit" type="submit">Submit</button>
</form>
